Source: ros-jazzy-libcaer-vendor
Section: misc
Priority: optional
Maintainer: Bernd Pfrommer <bernd.pfrommer@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, libgtest-dev <!nocheck>, libusb-1.0-0-dev, pkg-config, ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-vendor-package, ros-jazzy-ros-workspace
Homepage: https://gitlab.com/inivation/dv/libcaer
Standards-Version: 3.9.2

Package: ros-jazzy-libcaer-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libusb-1.0-0-dev, ros-jazzy-ros-workspace
Description: Wrapper around libcaer library
